h1 {
  color: grey;
}
body {
  margin: 0 auto;
  max-width: 50em;
}
.portrait {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.portrait img {
  position: absolute;
  width: 100%;
  height: 150%;
  object-fit: cover;
  top: -33%;
}
